body {
  width: 100%;
  padding: 0;
  margin: 0;
}

.tela-inteira {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.botoes-meunu-vertical {
  list-style-type: none;
}

.painel-de-videos {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  margin: 10px;
}

.box-pagina-principal {
  
}

footer {
  background: #333b3e;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 0 10px;
}

.box-pagina-principal > img {
  width: 100%;
  height: 200px;
}

h4 {
  margin-left: 20px;
}
